<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285826839979-p13n504rt1594bmmng4e3n9ovps7bcr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285826839979-p13n504rt1594bmmng4e3n9ovps7bcr4</string>
	<key>API_KEY</key>
	<string>AIzaSyAYo3RWX4qSfGdg8Ye_6gbtazZKpm9BwHw</string>
	<key>GCM_SENDER_ID</key>
	<string>285826839979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aventulife.nexpot.dev</string>
	<key>PROJECT_ID</key>
	<string>nexpot-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>nexpot-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285826839979:ios:49722fbbf4466e5ebf4eee</string>
</dict>
</plist>